# Virtual environment (venv)
venv/
env/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pkl

# IDE files
.vscode/
.idea/
*.swp

# Logs and temp files
*.log
*.tmp
.DS_Store

# Python packages
pip-log.txt
pip-delete-this-directory.txt

# Environment variables & secrets
.env
*.secret

# SQLite Database (optional if you don't want to push it)
*.sqlite3
*.db

#removing weekly random forest models
historical_models_2024/

